{% extends "page.html" %}

{% block title %} {{ dcpr_request.proposed_project_name }} - {{ super() }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(dcpr_request.notes, extract_length=200)|forceescape %}
  <meta property="og:title" content="{{ dcpr_request.proposed_project_name  }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
{% endblock -%}

{% block secondary_content %}
    {% snippet 'dcpr/snippets/info.html', dcpr_requests=dcpr_requests %}
{% endblock %}

{% block content_action %}
    {% set owner_updatable_statuses = ["UNDER_PREPARATION", "UNDER_MODIFICATION_REQUESTED_BY_NSIF", "UNDER_MODIFICATION_REQUESTED_BY_CSI"] %}
    {% if dcpr_request.status in owner_updatable_statuses %}
        {% if h.check_access("dcpr_request_update_by_owner_auth", {"csi_reference_id": dcpr_request.csi_reference_id}) %}
            {% link_for _('Update DCPR request'), named_route="dcpr.owner_edit_dcpr_request", csi_reference_id=dcpr_request.csi_reference_id, class_='btn btn-default', icon='wrench' %}
        {% endif %}
        {% if h.check_access("dcpr_request_submit_auth", {"csi_reference_id": dcpr_request.csi_reference_id}) %}
        <a class="btn btn-warning" href="{% url_for 'dcpr.dcpr_request_submit', csi_reference_id=dcpr_request.csi_reference_id %}" data-module="confirm-action"
           data-module-content="{{ 'Are you sure you want to submit DCPR request - %s?' % (dcpr_request.proposed_project_name) }}"><i class="fa fa-graduation-cap"></i>{{ _('Submit request for moderation') }}</a>
        {% endif %}

    {% elif dcpr_request.status == "AWAITING_NSIF_REVIEW" %}
        {% if h.check_access("dcpr_request_claim_nsif_reviewer_auth", {"csi_reference_id": dcpr_request.csi_reference_id}) %}
            <a class="btn btn-default" href="{% url_for 'dcpr.dcpr_request_become_reviewer', csi_reference_id=dcpr_request.csi_reference_id, organization="nsif" %}" data-module="confirm-action"
           data-module-content="{{ 'Are you sure you want to become NSIF reviewer DCPR request - %s?' % (dcpr_request.proposed_project_name) }}"><i class="fa fa-list-alt"></i>{{ _('Become NSIF Reviewer') }}</a>
        {% endif %}

    {% elif dcpr_request.status == "UNDER_NSIF_REVIEW" %}
        {% if h.check_access("dcpr_request_update_by_nsif_auth", {"csi_reference_id": dcpr_request.csi_reference_id}) %}
            {% link_for _('Update NSIF review'), named_route="dcpr.nsif_edit_dcpr_request", csi_reference_id=dcpr_request.csi_reference_id, class_='btn btn-default', icon='wrench' %}
        {% endif %}
        {% if h.check_access("dcpr_request_resign_nsif_reviewer_auth", {"csi_reference_id": dcpr_request.csi_reference_id}) %}
            <a class="btn btn-default" href="{% url_for 'dcpr.dcpr_request_resign_reviewer', csi_reference_id=dcpr_request.csi_reference_id, organization="nsif" %}" data-module="confirm-action"
           data-module-content="{{ 'Are you sure you want to Resign from being the NSIF reviewer DCPR request - %s?' % (dcpr_request.proposed_project_name) }}"><i class="fa fa-ban"></i>{{ _('Resign from being NSIF Reviewer') }}</a>
        {% endif %}
        {% if h.check_access("dcpr_request_nsif_moderate_auth", {"csi_reference_id": dcpr_request.csi_reference_id}) %}
            {% link_for _('Submit NSIF review'), named_route="dcpr.dcpr_request_moderate", csi_reference_id=dcpr_request.csi_reference_id, organization="nsif", class_='btn btn-warning', icon='envelope-o' %}
        {% endif %}

    {% elif dcpr_request.status == "AWAITING_CSI_REVIEW" %}
        {% if h.check_access("dcpr_request_claim_csi_moderator_auth", {"csi_reference_id": dcpr_request.csi_reference_id}) %}
            <a class="btn btn-default" href="{% url_for 'dcpr.dcpr_request_become_reviewer', csi_reference_id=dcpr_request.csi_reference_id, organization="csi" %}" data-module="confirm-action"
           data-module-content="{{ 'Are you sure you want to become CSI reviewer DCPR request - %s?' % (dcpr_request.proposed_project_name) }}"><i class="fa fa-list-alt"></i>{{ _('Become CSI reviewer') }}</a>
        {% endif %}

    {% elif dcpr_request.status == "UNDER_CSI_REVIEW" %}
        {% if h.check_access("dcpr_request_update_by_csi_auth", {"csi_reference_id": dcpr_request.csi_reference_id}) %}
            {% link_for _('Manage (CSI)'), named_route="dcpr.csi_edit_dcpr_request", csi_reference_id=dcpr_request.csi_reference_id, class_='btn btn-default', icon='wrench' %}
        {% endif %}
        {% if h.check_access("dcpr_request_resign_csi_reviewer_auth", {"csi_reference_id": dcpr_request.csi_reference_id}) %}
            <a class="btn btn-default" href="{% url_for 'dcpr.dcpr_request_resign_reviewer', csi_reference_id=dcpr_request.csi_reference_id, organization="csi" %}" data-module="confirm-action"
           data-module-content="{{ 'Are you sure you want to Resign from being the CSI reviewer DCPR request - %s?' % (dcpr_request.proposed_project_name) }}"><i class="fa fa-ban"></i>{{ _('Resign from being CSI reviewer') }}</a>
        {% endif %}
        {% if h.check_access("dcpr_request_csi_moderate_auth", {"csi_reference_id": dcpr_request.csi_reference_id}) %}
            {% link_for _('Submit CSI review'), named_route="dcpr.dcpr_request_moderate", csi_reference_id=dcpr_request.csi_reference_id, organization="csi", class_='btn btn-warning', icon='envelope-o' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block primary_content_inner %}
    {% set request_status = ["UNDER_MODIFICATION_REQUESTED_BY_NSIF", "UNDER_MODIFICATION_REQUESTED_BY_CSI"] %}
    {% if dcpr_request.status in request_status %}
        <div class="flash-messages">
            <div class="warning-explanation alert alert-warning ">
                This DCPR request needs further clarification.
            </div>
        </div>
    {% endif %}
    <h1>{{ dcpr_request.proposed_project_name }}<small> {{ dcpr_request.csi_reference_id }}</small></h1>
    <section class="additional-info">
        <table class="table table-striped table-bordered table-condensed">
            <tbody>
            <tr>
                <th scope="row">{{ _("Proposed project name") }}</th>
                <td>{{ dcpr_request.proposed_project_name }}</td>
            </tr>
            <tr>
                <th scope="row" class="dataset-label">{{ _('CSI reference ID') }} </th>
                <td>{{ dcpr_request.csi_reference_id }}</td>
            </tr>
            <tr>
                <th scope="row" class="dataset-label">{{ _('Organization') }} </th>
                <td>{{ dcpr_request.organization }}</td>
            </tr>
            {# TODO: Add the dataset custodian info #}
            <tr>
                <th scope="row" class="dataset-label">{{ _('Status') }} </th>
                <td><span class="label label-default">{{ dcpr_request.status }}</span></td>
            </tr>
            <tr>
                <th scope="row" class="dataset-label">{{ _("Additional project context") }}</th>
                <td class="dataset-details">
                    {{ dcpr_request.additional_project_context }}
                </td>
            </tr>
            <tr>
                <th scope="row">{{ _("Capture start date") }}</th>
                <td>{% snippet 'dcpr/snippets/datetime_without_hours.html', datetime_obj=dcpr_request.capture_start_date %}</td>
            </tr>
            <tr>
                <th scope="row">{{ _("Capture end date") }}</th>
                <td>{% snippet 'dcpr/snippets/datetime_without_hours.html', datetime_obj=dcpr_request.capture_end_date %}</td>
            </tr>
            <tr>
                <th scope="row">{{ _("Cost") }}</th>
                <td>{{ dcpr_request.cost }}</td>
            </tr>
            <tr>
                <th scope="row" class="dataset-label">{{ _("Spatial extent") }}</th>
                <td class="dataset-details">
                    {{ dcpr_request.spatial_extent }}
                </td>
            </tr>
            <tr>
                <th scope="row" class="dataset-label">{{ _("Spatial resolution") }}</th>
                <td class="dataset-details">
                    {{ dcpr_request.spatial_resolution }}
                </td>
            </tr>
            <tr>
                <th scope="row" class="dataset-label">{{ _("Data capture urgency") }}</th>
                <td class="dataset-details">
                    {{ dcpr_request.data_capture_urgency }}
                </td>
            </tr>
            <tr>
                <th scope="row" class="dataset-label">{{ _("Additional documents") }}</th>
                <td class="dataset-details">
                    {{ dcpr_request.additional_documents }}
                </td>
            </tr>
            <tr>
                <th scope="row" class="dataset-label">{{ _("Request date") }}</th>
                <td class="dataset-details">
                    {% snippet 'dcpr/snippets/datetime_without_hours.html', datetime_obj=dcpr_request.request_date %}

                </td>
            </tr>
            <tr>
                <th scope="row" class="dataset-label">{{ _("Submission date") }}</th>
                <td class="dataset-details">
                    {% snippet 'dcpr/snippets/datetime_without_hours.html', datetime_obj=dcpr_request.submission_date %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="dataset-label">{{ _("NSIF review date") }}</th>
                <td class="dataset-details">
                    {% snippet 'dcpr/snippets/datetime_without_hours.html', datetime_obj=dcpr_request.nsif_review_date %}
                </td>
            </tr>

                <tr>
                    <th scope="row" class="dataset-label">{{ _("NSIF review notes") }}</th>
                    <td class="dataset-details">
                        {{ dcpr_request.nsif_review_notes }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="dataset-label">{{ _("NSIF review additional documents") }}</th>
                    <td class="dataset-details">
                        {{ dcpr_request.nsif_review_additional_documents }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="dataset-label">{{ _("CSI review notes") }}</th>
                    <td class="dataset-details">
                        {{ dcpr_request.csi_moderation_notes }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="dataset-label">{{ _("CSI moderation additional documents") }}</th>
                    <td class="dataset-details">
                        {{ dcpr_request.csi_moderation_additional_documents }}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="dataset-label">{{ _("CSI moderation date") }}</th>
                    <td class="dataset-details">
                        {% snippet 'dcpr/snippets/datetime_without_hours.html', datetime_obj=dcpr_request.csi_moderation_date %}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section>
        <h2>Datasets</h2>
        {% if dcpr_request.datasets %}
            {% for ds in dcpr_request.datasets %}
                <h3>{{ ds.proposed_dataset_title }}</h3>
                <table class="table table-striped table-bordered table-condensed">
                    <tbody>
                    <tr>
                        <th scope="row">{{ _("Proposed dataset title") }}</th>
                        <td>{{ ds.proposed_dataset_title }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ _("Purpose") }}</th>
                        <td>{{ ds.dataset_purpose }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ _("Organization is custodian") }}</th>
                        <td>{{ ds.dataset_custodian }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ _("Abstract") }}</th>
                        <td>{{ ds.proposed_abstract }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ _("Lineage") }}</th>
                        <td>{{ ds.lineage_statement }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ _("Data type") }}</th>
                        <td>{{ ds.data_type }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ _("Associated attributes") }}</th>
                        <td>{{ ds.associated_attributes }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ _("Usage restrictions") }}</th>
                        <td>{{ ds.data_usage_restrictions }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ _("Capture method") }}</th>
                        <td>{{ ds.capture_method }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
        {% else %}
            <p class="empty">{{ _('This DCPR request does not have any datasets.') }}</p>
        {% endif %}

{% endblock %}
