{% ckan_extends %}
{% block subtitle %}{{ _("SAEOSS Portal") }}{% endblock %}
{% block content %}
{% include 'social/index.html' %}

<header class="masthead" id="about-header">
    <div id="title-header">
        <div class="title-header-buttons center">
            <div class="title-header-text ">
                About SAEOSS-Portal
            </div>
    
            <div class="home-text">
                <h3>The SAEOSS-Portal is the result for a pioneering collaboration between SANSA (South African National Space Agency) and SAEON (South
                    African Environmental Observation Network). United by a common vision, the SAEOSS-Portal platform was conceived to revolutionize data sharing among diverse entities, fostering synergy and knowledge exchange.</h3>
            </div>
    
        </div>
    </div>
    </header>

<br><br>
    <div class="container" >
        <div class="gray-shadow">
            <div class="row" style="margin-right: 0px !important;">
                <div class="col-md-6" style="padding: 0px !important;">
                    <div>
                        <img src="/images/telescope.jpg" alt="https://www.freepik.com/free-ai-image/exploration-nature-star-field-with-telescope-generated-by-ai_41571295.htm#fromView=search&term=telescope&page=1&position=0&track=ais_ai_generated Image By vecstock" style="width: 100%;"/>
                    </div>
                </div>
            
                <div class="col-md-6 ">
                    <div class="jumbo-card">
                        <div class="jumbo-card-inner">
                            <h2>Our Vision</h2>
                            <p>At the SAEOSS-Portal, we envision a future where data transcends boundaries, enabling transformative decision-making across sectors. We believe that the power of data lies not only in its creation but also in its responsible sharing and utilization. This platform serves as the bridge that connects organizations, governments, and individuals, propelling them toward data-driven excellence.</p>
                        </div>
                    
                    </div>
                </div>
            </div>
    
            <div class="blue-hr"></div>
       
            <div class="row " style="margin-right: 0px !important;">
                
                <div class="col-md-6">
                    <div class="jumbo-card">
                        <div class="jumbo-card-inner">
                            <h2>Join the Data Revolution</h2>
                        <p>We invite organizations, institutions, and individuals to become part of this data revolution. Whether you're a research institution, a government agency, or an advocate for data-driven solutions, the SAEOSS-Portal offers you a unique opportunity to contribute to a more interconnected and data-rich world.</p>
                        <p>Join the revolution by creating an account on the SAEOSS-Portal. Be a catalyst for change in the data ecosystem and gain access to a wealth of knowledge and insights.</p>
                        </div>
                    
                    </div>
                </div>
    
                <div class="col-md-6 " style="padding: 0px !important;">
                    <div>
                        <img src="/images/data.jpg" style="width: 100%;"/>
                    </div>
                </div>
            </div>
        </div>
   </div>

<br><br>

{% endblock %}
