{% ckan_extends %}
{% block subtitle %}{{ _("SAEOSS Portal") }}{% endblock %}
{% block content %}
{% include 'social/index.html' %}


<div class="carousel-container">
    <div class="carousel">
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1638146463297-1352cbe7cf3b?q=80&w=1803&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Forest & Vegetation">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1567654007013-3d64876fe8dd?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Cape Town night view">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1577948000111-9c970dfe3743?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="South African landscape">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1580060839134-75a5edca2e99?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="Table Mountain Cape Town">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1632573819808-82aeb4f95fb0?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="South African coast">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1744968777216-8d6d14ffa734?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Water Distribution">
        </div>
    </div>
    <button class="carousel-btn prev">
        <i class="fas fa-chevron-left"></i>
    </button>
    <button class="carousel-btn next">
        <i class="fas fa-chevron-right"></i>
    </button>
    <div class="carousel-nav">
        <div class="carousel-dot active" data-index="0"></div>
        <div class="carousel-dot" data-index="1"></div>
        <div class="carousel-dot" data-index="2"></div>
        <div class="carousel-dot" data-index="3"></div>
        <div class="carousel-dot" data-index="4"></div>
        <div class="carousel-dot" data-index="5"></div>
    </div>
    <div class="portal-content">
        <h1>About SAEOSS-Portal</h1>
        <p>The SAEOSS-Portal is the result of a pioneering collaboration between SANSA (South African National Space Agency) and SAEON (South African Environmental Observation Network). United by a common vision, the SAEOSS-Portal platform was conceived to revolutionize data sharing among diverse entities, fostering synergy and knowledge exchange.</p>
    </div>
</div>

<section class="content">
    <h2 class="text-center fw-bold mb-5">Our Features</h2>
    <div class="features">
        <div class="feature-card">
	  <div class="feat">
                <a href="map">
                    <h3 class="fw-bold">Explore Map</h3>
                    <p>Explore our metadata through an interactive map viewer. Discover geographic data and visualized metadata records.</p>
                    <p>Search and filter through a vast library of public records quickly and efficiently.</p>
                </a>
            </div>
        </div>
        <div class="feature-card">
            <div class="feat">
                <h3 class="fw-bold">SAEOSS Vision</h3>
                <p>We envision a future where data enables transformative decision-making. This platform connects organizations and individuals toward a data-driven future.</p>
            </div>
        </div>
        <div class="feature-card">
            <div class="feat">
                <a href="dataset">
                    <h3 class="fw-bold">Metadata Browser</h3>
                    <p>Browse a comprehensive metadata repository with detailed information for better project decision-making.</p>
                </a>
            </div>
        </div>
    </div>
</section>




{% block scripts %}
    <!-- jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.0.min.js"
                    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
                    crossorigin="anonymous"></script> -->
{% endblock %}

{% endblock %}
