{% extends 'page.html' %}

{% block subtitle %}Map{% endblock %}

{% block scripts %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.1.1/maptiler-sdk.umd.min.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.1.1/maptiler-sdk.css" rel="stylesheet" />
    <!-- Select2 JS --> 
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    {% asset "ckanext-saeoss/web-mapping-js" %}
{% endblock %}

{% set map_config = h.get_common_map_config() %}
{% set default_bounding_box = h.default_bounding_box() %}

{% block content %}

<style>
    #features {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        overflow: auto;
        background: rgba(255, 255, 255, 0.8);
    }

    .row{
        overflow: hidden;
        margin-left: 0px;
        width: 100%;
        padding: 0px !important;
    }

    [class*="col-"]{
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

.tooltip {
  /* position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; */
  z-index: 9999999 !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
    
    <div>
        <div id="collapse-collection-parent">
            <button id="show-collection" data-toggle="tooltip" data-placement="right" title="Collapse Pane">
                <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.12727 17L1 21V5L8.12727 1M8.12727 17L16.2727 21M8.12727 17V1M16.2727 21L23.4 17V1L16.2727 5M16.2727 21V5M16.2727 5L8.12727 1" stroke="#0A2642" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.9555 13.7107C24.9191 13.7107 26.511 12.1188 26.511 10.1552C26.511 8.19149 24.9191 6.59961 22.9555 6.59961C20.9918 6.59961 19.3999 8.19149 19.3999 10.1552C19.3999 12.1188 20.9918 13.7107 22.9555 13.7107Z" fill="white"/>
                <path d="M28.9999 16.1996L25.4666 12.6663M26.511 10.1552C26.511 12.1188 24.9191 13.7107 22.9555 13.7107C20.9918 13.7107 19.3999 12.1188 19.3999 10.1552C19.3999 8.19149 20.9918 6.59961 22.9555 6.59961C24.9191 6.59961 26.511 8.19149 26.511 10.1552Z" stroke="#0A2642" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
        
        <div class="search map-search" id="collection-main">
            <div id="collapse-main">
                <div id="toolbar">
                    <div style="position: relative; height: 40px;margin-bottom: 5px;">
                        <h3 class="blue-text" style="margin: 0 !important;">Search Uploaded Resources</h3>
                        <button id="collapse-collection" class="btn btn-no-background">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                        </button>
                    </div>
                    <div style="position: relative;">
                        <input id="search-collection" class="form-control" placeholder="Search..."/>
                        <button id="search-collection-btn" class="search-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
                        </button>
    
                        <button id="clear-search-btn" class="clear-search-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 352 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>
                        </button>
                    </div>
                    <div class="flex-date-display" style="margin-top: 20px;margin-bottom: 20px;">
                        <div class="flex-date-display">
                            <label class="label-temporal flex-date-display-inner blue-text" style="padding-right: 5px;">Start Date</label>
                            <input type="date" class="form-control" name="start_date" id="start_date" placeholder="Start Date"/>
                        </div>
                        <div class="flex-date-display">
                            <label class="label-temporal flex-date-display-inner blue-text" style="padding-left: 5px;padding-right: 5px;">End Date</label>
                            <input type="date" class="form-control" name="end_date" id="end_date" placeholder="End Date"/>
                        </div>
                    </div>
                </div>
                <div id="loader" style="display: none;" class="loader"></div>
                <div id="collection-view" style="margin-top: 10px"></div>
                
            </div>
        </div>
        <button id="collapse-feature">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
        </button>
        <div class="feature-info-tab" id="feature-info-tab">
            <h3>Layers</h3>
            <hr>
            <div id="loadCollection" class="load-wrapp" style="display: none;">
                <div class="load-3">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
            </div>
            <div id="feature-inner"></div>
        </div>
        <div class="feature-show-tab" id="feature-show-tab">
            <h3>Feature Information</h3>
            <hr>
            <pre style="width: 300px;" id="feature-show-inner"></pre>
        </div>
        <div class="web-mapping"  data-module="saeossWebMapping" data-module-map-config="{{ h.dump_json(map_config) }}"
                data-module-default-extent="{{ default_bounding_box }}">
            <div class="map" id="map"></div>
        </div>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}


