{% ckan_extends %}
{% block primary_content %}
  {% block content_blue_border %}
    <style>
      .dataset-private{
          top: -30px;
      }
      .module-narrow {
      border: 2px solid lightgray;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      }

      .module-heading{
      background-color: #CCDBEB;
      color: #0A2642 !important;
      }
    </style>
    <div class="page-header-blue-border-shadow extra-margin-main">
      <div class="page-header-nav-tabs-parent">
        <div class="left-side-inner">
          {% block content_primary_nav %}
          <div class="page-header-nav-tabs">
            {{ h.build_nav_icon(dataset_type ~ '.read', _('Metadata'), id=pkg.id if is_activity_archive else pkg.name, icon='sitemap') }}
            {{ h.build_nav_icon(dataset_type ~ '.groups', _('Groups'), id=pkg.id if is_activity_archive else pkg.name, icon='users') }}
            {{ h.build_nav_icon(dataset_type ~ '.activity', _('Activity Stream'), id=pkg.id if is_activity_archive else pkg.name, icon='clock-o') }}
          </div>
          <hr class="page-header-nav-tabs-hr">
          {% endblock %}
        </div>
        <div class="right-side-inner">
          <div class="main-edit-button-parent">
            {% block content_action %}
                {{ super() }}
                {% set user_is_editor = h.user_is_org_member(pkg.owner_org, g.userobj, role="editor") %}
                {% if user_is_editor %}
                    {% if pkg.private %}
                        {% link_for _('Request publication'),
                            named_route="saeoss.request_dataset_management",
                            dataset_id=pkg.id,
                            management_command="publication",
                            class_='btn btn-default',
                            icon='graduation-cap' %}
                    {% elif not pkg.private and not h.check_access("package_update", {"id": pkg.id}) %}
                        {% link_for _('Request edit'),
                            named_route="saeoss.request_dataset_management",
                            dataset_id=pkg.id,
                            management_command="maintenance",
                            class_='btn btn-default',
                            icon='pencil' %}
                    {% endif %}
                {% endif %}
            {% endblock %}
          </div>
        </div>
      </div>
      
      {% block primary_content_inner_header %}
      <br>
        <h1 class="hide-heading">
          {% block page_heading %}
            {{ _('Activity Stream') }}
          {% endblock %}
        </h1>
        <div style="padding: 5px 10px 5px 10px;">
          {% snippet 'snippets/activity_stream.html', activity_stream=activity_stream, id=id, object_type='package' %}
        </div>
      {% endblock %}

    </div>
  {% endblock %}
{% endblock %}


