{% ckan_extends %}


{% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What are metadata records?') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          A Metadata Record is a collection of data resources (such as files),
          together with a description and other information, at a fixed URL.
          Metadata Records are what users see when searching for data.
          {% endtrans %}
        </p>
      </div>
    </section>
{% endblock %}
