{% ckan_extends %}
{% set logged_in = true if c.userobj else false %}
{% block primary_content %}
  {% block content_blue_border %}
  <div class="page-header-blue-border-shadow" style="margin-top: 20px; padding: 20px;">
    {% block content_primary_nav %}
      <div class="page-header-nav-tabs">
        <li class="active"><a href="#"><i class="fa fa-pencil-square-o"></i> {{ _('New resource') }}</a></li>
      </div>
    {% endblock %}
    {% block content_action %}
      <div style="position: absolute;top:20px;right:10px">
        {% link_for _('All resources'), named_route=pkg.type ~ '.resources', id=pkg.name, class_='btn btn-default', icon='arrow-left' %}
        {% if res %}
          {% link_for _('View resource'), named_route=pkg.type ~ '_resource.read', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='eye' %}
        {% endif %}
      </div>
    {% endblock %}
    {% block primary_content_inner_header %}
      {% block form %}
      <br><br>
        {% snippet resource_form_snippet, data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, stage=stage, dataset_type=dataset_type %}
      {% endblock %}
    {% endblock %}
  </div>
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% snippet 'package/snippets/resource_help.html' %}
{% endblock %}
