{% import 'macros/form.html' as form %}

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<div class="form-group control-medium control-select">
    <label class="control-label" for="field-tags"><span title="This field is required" class="control-required">*</span> {{field.label}}</label>
    <div class="controls ">
    
        <select style="width: 100%;" name="{{field.field_name}}" id="tag-multiple"  multiple="multiple">
            {% for choice in field.choices %}
            <option value="{{choice['value']}}">{{choice['label']}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#tag-multiple').select2();
    });
</script>
