{% extends "group/base_form_page.html" %}

{% block subtitle %}{{ _('Create a Group') }}{% endblock %}

{% block breadcrumb_link %}{{ h.nav_link(_('Create a Group'), named_route=group_type+'.new') }}{% endblock %}

{% block page_heading %}
  <div class="page-header-blue-border-shadow" style="margin-top: -15px;">
    <h2 class="blue-text" style="margin-top: 10px !important">Create an Group</h2>
  </div>
{% endblock %}

{% block page_header %}{% endblock %}

{% block secondary_content %}
  {% snippet "group/snippets/helper.html" %}
{% endblock %}
