{% ckan_extends %}
{% block primary_content %}
  {% block content_blue_border %}
      <div class="page-header-blue-border-shadow" style="margin-top: 20px;">
          <div class="page-header-nav-tabs">
              {% block content_primary_nav %}
                {{ h.build_nav_icon('user.read', ungettext('Metadata Record', 'Metadata Records', user.number_created_packages), id=user.name, icon='sitemap') }}
                {{ h.build_nav_icon('user.activity', _('Activity Stream'), id=user.name, icon='clock-o') }}
                {% if h.check_access('api_token_list', {'user': user['name']}) %}
                  {{ h.build_nav_icon('user.api_tokens', _('API Tokens'), id=user.name, icon='key') }}
                {% endif %}
              {% endblock %}
          </div>
          {% block primary_content_inner_header %}
            <div>
              {% block activity_stream %}
                {% snippet 'snippets/activity_stream.html', activity_stream=user_activity_stream, id=id, object_type='user' %}
              {% endblock %}
            </div>
          {% endblock %}
          {% block page_primary_action %}
            {% if h.check_access('user_update', user) %}
              <div style="position: absolute; top: 25px; right: 15px">
                {% link_for _('Manage'), named_route='user.edit', id=user.name, class_='btn btn-default', icon='wrench' %}
              </div>
            {% endif %}
          {% endblock %}
      </div> 

  {% endblock %}
{% endblock %}


