{% ckan_extends %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('user.read', ungettext('Metadata Record', 'Metadata Records', user.number_created_packages), id=user.name, icon='sitemap') }}
  {{ h.build_nav_icon('user.activity', _('Activity Stream'), id=user.name, icon='clock-o') }}
  {% if h.check_access('api_token_list', {'user': user['name']}) %}
    {{ h.build_nav_icon('user.api_tokens', _('API Tokens'), id=user.name, icon='key') }}
  {% endif %}
{% endblock %}

{% block user_nums %}
      <div class="nums" style="float: none">
        <dl>
          <p>
          <span data-module="followers-counter" data-module-id="{{ user.id }}" data-module-num_followers="{{ user.num_followers }}">{{ h.SI_number_span(user.num_followers) }}</span>
          {{ ungettext('Follower', 'Followers', user.num_followers) }}
          </p>
        </dl>
        <dl>
          <p>
          <span>{{ h.SI_number_span(user.number_created_packages) }}</span>
              {{ ungettext('Metadata Record', 'Metadata Records', user.number_created_packages) }}
            </p>
        </dl>
      </div>
      {% endblock %}
