{% ckan_extends %}

{% block primary_content %}

  {% block content_blue_border %}
    <div class="page-header-blue-border-shadow" style="margin-top: 20px;">
      {% block content_primary_nav %}
      <div class="page-header-nav-tabs">
        {{ h.build_nav_icon('admin.index', _('Sysadmins'), icon='gavel') }}
        {{ h.build_nav_icon('admin.config', _('Config'), icon='check-square-o') }}
        {{ h.build_nav_icon('admin.trash', _('Trash'), icon='trash-o') }}
        {{ h.build_extra_admin_nav() }}
      </div>
      {% endblock %}
      {% block primary_content_inner_header %}
      <br>
        <ul class="user-list">
          {% for user in sysadmins %}
            <li>{{ h.linked_user(user) }}</li>
          {% endfor %}
        </ul>
      {% endblock %}
    </div>
  {% endblock %}

{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Administer CKAN') }}
    </h2>
    <div class="module-content">

      {% set docs_url = "http://docs.ckan.org/en/{0}/sysadmin-guide.html".format(g.ckan_doc_version) %}
      {% trans %}
        <p>As a sysadmin user you have full control over this CKAN instance. Proceed with care!</p>
        <p>For guidance on using sysadmin features, see the CKAN  <a href="{{ docs_url }}" target="_blank">sysadmin guide</a></p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
