{% set requests_count = dcpr_requests | length %}
{% block heading %}
<section class="module module-narrow module-shallow">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="fa fa-info-circle"></i> Data Capture Project Registry</h4>
        </div>
        <div class="panel-body">
            <p>The Data Capture Project Registry (DCPR) contains a listing of all data capture requests</p>
            <p>Creation of new DCPR requests is reserved for authenticated users that are members of an EMC organization.</p>
            <p>More information about the DCPR can be found in the <a href="{{ url_for('pages.show', page='help', _anchor='dcpr') }}">Help page, DCPR section<a></p>
        </div>
    </div>
</section>

{% endblock %}
