{% set fields = data[field.field_name] %}
{% block subfield_display %}
{% set maintenance_custom_other_input_field = h.get_maintenance_custom_other_field_data(data) %}
  {% for field_data in fields %}
    <div class="panel panel-default">
      <div class="panel-body" data-module="custom_select_display" data-module-text="{{ maintenance_custom_other_input_field }}" >
        <dl class="scheming-subfield-list">
          {% for subfield in field.repeating_subfields %}
            <dt class="dataset-label">
              {{ h.scheming_language_text(subfield.label) }}
            </dt>
            <dd>
            {%- snippet 'scheming/snippets/display_field.html',
              field=subfield,
              data=field_data,
              entity_type=entity_type,
              object_type=object_type
            -%}
            </dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  {% endfor %}
{% endblock %}
