.dataset-spatial-extent-map {
    padding: 0 0;
    margin: 20px 0;
}

.dataset-spatial-extent-map #dataset-spatial-extent-map-container {
    position: relative;
    height: 300px;
    width: 100%;
}

.leaflet-control-layers-overlays > label::after{
    /* removing the colons ":" from lealfet layers names */
    content: "" !important;
}

.leaflet-control-layers-base  > label::after{
    /* removing the colons ":" from lealfet layers names, dataset page */
    content: "" !important;}

.contact-title{
    color: #2e9aff;
}

.mapboxgl-ctrl-top-right, .maplibregl-ctrl-top-right{
  margin-top: 80px;
}
