



.filters-row {
background: white;
padding: 10px 30px;
display: flex;
gap: 10px;
flex-wrap: wrap;
border-bottom: 1px solid #ddd;
}

.filter-pill {
background-color: #dceeff;
color: #004080;
padding: 6px 14px;
border-radius: 20px;
font-size: 14px;
}

.filter-box {
background: white;
padding: 15px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.filter-box h2 {
font-size: 16px;
margin-bottom: 10px;
color: #004080;
}


.dataset-card {
background: white;
padding: 12px 14px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0,0,0,0.5);
border: black 1px solid;
display: flex;
flex-direction: column;
gap: 8px;
font-size: 14px;
margin-bottom: 10px;
max-width: 100%;
height: 100%;
transition: transform 0.3s ease, box-shadow 0.3s ease;
cursor: pointer;
}

.dataset-card:hover {
transform: scale(1.05);
box-shadow: 0 8px 16px rgba(0,0,0,0.7);
z-index: 10;
}


.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* @media (max-width: 990px) {
  .dataset-card {
    height: 250px;
  }
}

@media (max-width: 460px) {
  .dataset-card {
    height: 280px;
  }
} */


.dataset-card h3 {
margin: 0;
font-size: 15px;
color: #003e80;
}

.dataset-card-p {
margin: 4px 0; 
line-height: 1.3; 
}


.tags {
display: flex;
flex-wrap: wrap;
gap: 6px;
margin: 6px 0;
}

.tag {
background: #eee;
padding: 3px 8px;
border-radius: 12px;
font-size: 12px;
}


.btn-view {
  background-color: #003e80;
  color: white;
  padding: 6px 0;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  width: 100%;
  position: absolute;
  bottom: 5px;
}

.btn-view-parent{
    position: relative;
    height: 100%;
    margin-top: 25px;
}

.btn-view a{
color: white;
text-decoration: none;
}

.heading{
margin: 0;
color: #004080;
font-family: Arial, sans-serif;
}

.search-input-group input{
border: gray 1px solid !important;
border-radius: 5px !important;
}   

#header{
background-color: white;
margin: 0 !important;
border-bottom: #e7e7e7 1px solid !important;
position: relative;
}

.misc-search{
  padding-right: 20px;
}

.extra-mg-h{
  margin: 10px 0px 10px 0px;
}

.secondary-inner{
  border: #0A2642 1px solid !important;
}

.module-heading {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.module-narrow #dataset-map-container {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.dataset-private{
  background-color: #BB0000;
  color: white !important;
}

.dataset-item-card{
  border: #232324 1px solid !important;
  box-shadow: 3px 3px 10px #232324;
  border-radius: 5px !important;
  padding: 10px !important;
  height: 100% !important;
}

.margin-bottom-extra{
  margin-bottom: 10px;
}