/* BASE FOLDER token will be replaced at compile time by our bash script. */


$logo-url: url('file:///home/timlinux/dev/documentation/TheKartozaHandbook/docs/assets/logo.svg');
$corner-logo-url: url('file:///home/timlinux/dev/documentation/TheKartozaHandbook/docs/templates/KartozaSymbolCMYK.svg');
$header-url: url('file:///home/timlinux/dev/documentation/TheKartozaHandbook/docs/templates/header.svg');
$footer-url: url('file:///home/timlinux/dev/documentation/TheKartozaHandbook/docs/templates/footer.svg');