<div id="captcha-form">
  <h3 style="text-align: left;">Captcha Form</h3>
  <div class="row">
    <div class="col-md-6">
      <div id="user-input" class="inline">
        <input type="text" class="form-control"
              id="usr-captcha"
              placeholder="Captcha code" />
      </div>
    </div>
    <div class="col-md-12" style="display: flex;">
      <div id="image-captcha" class="inline" selectable="False"></div>
      <i class="fa fa-refresh" aria-hidden="true" onclick="generate()"></i>
    </div>
  </div>
  <p id="key"></p>
  <hr>
</div>