<section class="module module-narrow module-shallow simple-input">
  <h2 class="module-heading">{{ _('Users') }}</h2>
  <form class="" action="{% url_for 'user.index' %}" method="get" id="user-search-form">
    <div class="field">
      <br>
      <label for="field-user-search">{{ _('Search Users') }}</label>
      <input id="field-user-search" value="{{ q }}" class="field form-control" name="q" placeholder="{{ _('Search') }}" />
      <button class="btn btn-search" type="submit" style="background-color: #FBAE54;width: 30px;position: absolute;top: 29px;right: -1px;">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
      </button>
    </div>
  </form>
  <ul class="nav nav-simple">
    <li class="nav-item">{{ h.nav_link(_('All Users'), named_route='user.index') }}</li>
  </ul>
</section>
