{% ckan_extends %}
{% set saeoss_version = h.saeoss_show_version() %}

{% block footer_content %}
    <div class="content footer-content">
        <!-- Logo on the left -->
        <div class="footer-left">
      	    <a href="https://www.sansa.org.za" target="_blank">
      		    <img src="{{ h.url_for_static('/images/SANSA_Logo.png') }}" alt="SAEOSS Logo">
      	    </a>
      	</div>

        <!-- Text on the right -->
        <div class="footer-text">
            <p>Copyright © {{ h.get_year() }} - SAEOSS Portal {{ h.get_year() }}</p>
            <p>Powered by CKAN, developed by Kartoza</p>
            <p>Version: {{ h.get_release() }}</p>
        </div>
        
        <div class="footer-right">
      	    <a href="https://www.saeon.ac.za/" target="_blank">
      		    <img src="{{ h.url_for_static('/images/SAEON_Logo.png') }}" alt="SAEON Logo">
      	    </a>
      	</div>

        {% block footer_lang %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer_debug %}
{% endblock %}
