{% ckan_extends %}
{% set saeoss_version = h.saeoss_show_version() %}

{% block footer_content %}
    <section class="topfooter">
        <div class="">
            <a href="https://www.facebook.com/SouthAfricanNationalSpaceAgency/" class="me-3 text-white fs-4"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/SANSA7" class="me-3 text-white fs-4"><i class="fab fa-x-twitter"></i></a>
            <a href="https://www.linkedin.com/in/south-african-national-space-agency-6a8b19a9/?originalSubdomain=za" class="me-3 text-white fs-4"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.youtube.com/@SASpaceAgency" class="me-3 text-white fs-4"><i class="fab fa-youtube"></i></a>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <img src="{{ h.url_for_static('/images/SANSA_Logo.png') }}" alt="Left Logo">
            <p class="footer-text">
                Copyright &copy; 2025 - SAEOSS Portal 2025. All rights reserved.
            </p>
            <img src="{{ h.url_for_static('/images/SAEON_Logo.png') }}" alt="Right Logo">
        </div>
    </footer>
{% endblock %}

{% block footer_debug %}
{% endblock %}
