{% ckan_extends %}
{% set saeoss_version = h.saeoss_show_version() %}
{#
    below we reimplement the default footer_links block in order to include the current version of
    CKAN and of the Saeoss
#}
{% block footer_content %}
    <div class="content">
        <div class="footer-text">
            <p>Copyright ©  {{ h.get_year() }}- SAEOSS Portal {{ h.get_year() }}</p>
            <p>Powered by CKAN, developed by Kartoza</p>
            <p>Version: {{ h.get_release() }}</p>
        </div>

        {% block footer_lang %}
        {% endblock %}

    </div>
{% endblock %}
{# {% set saeoss_version = h.saeoss_show_version() %} #}

{#{% block footer_links %}#}
{#    <li>Saeoss v{{ saeoss_version.version }} (git sha: {{ saeoss_version.git_sha }})</li>#}
{#    <li>CKAN v{{ h.ckan_version() }}</li>#}
{#{% endblock %}#}

{% block footer_debug %}
{% endblock %}
