{% ckan_extends %}
{% block header_wrapper %}
    <nav class="navbar navbar-default border-bottom">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ h.url_for('home.index') }}">
        <img
          src="/images/saeoss-logo.png"
          alt="Site Logo"
          class="img-responsive".map-search/>
      </a>
      
      {% include 'nav/mobile.html' %}
    </div>
    {% include 'nav/desktop.html' %}
    
</nav>

<style>
    .navbar {
        z-index: 99999;
    }
    .navbar-brand img {
      max-height: 90px;
      height: auto;
    }

    @media (max-width: 767px) {
      .navbar-brand img {
        max-height: 60px;
      }
    }
</style>
{% endblock %}
