{% ckan_extends %}
{% block header_wrapper %}
    <nav class="navbar navbar-default border-bottom">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation-toggle" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ h.url_for('home.index') }}">
          <img src="/images/Logo.jpg" height="70">
      </a>
    </div>
      <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %}
        <ul class="nav navbar-nav navbar-center">
            {% block header_site_navigation_tabs %}
                <li class="li-flex"> 
                  <a href="{{ url_for('dataset.search') }}" class="image" title="{{ _('Metadata') }}">{{ _('Metadata') }}</a>
                  <span class="hr-ver"></span>
                </li>
                <li class="li-flex">
                   <a href="{{ url_for('map.index') }}" class="image" title="{{ _('Map') }}">{{ _('Map') }}</a>
                   <span class="hr-ver"></span>
                  </li>
                <li class="li-flex"> 
                  <a href="{{ url_for('organization.index') }}" class="image" title="{{ _('Organisations') }}">{{ _('Organisations') }}</a>
                  <span class="hr-ver"></span>
                </li>
                <li class="li-flex"> 
                  <a href="{{ url_for('organization.index') }}" class="image" title="{{ _('About') }}">{{ _('About') }}</a>
                  <span class="hr-ver"></span>
                </li>
                <li> 
                  <a href="#" class="image" title="Help">Help</a>
                </li>
            {% endblock %}
        </ul>
      {% endblock %}
      <ul class="nav navbar-nav navbar-right">
        {% if c.userobj %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-testid="loggedin_user_icon"> {{ h.user_image((c.user if c and c.user else ''), size=22) }}
            <span class="username">{{ c.userobj.display_name }}</span></a>
                <ul class="dropdown-menu">
                    <li> <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="text">{{ _('Profile') }}</span></a></li>
                    {% set new_activities = h.new_activities() %}
                    {% if h.saeoss_org_memberships(c.userobj.id) %}
                        <li>
                          <a href="{{ h.url_for('harvest.search') }}" title="{{ _('Harvesting Settings') }}">
                            <i class="fa fa-cloud" aria-hidden="true"></i>
                            <span class="text">{{ _('Harvesting Settings') }}</span>
                          </a>
                        </li>
                    {% endif %}
                    <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                      {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)',
                      new_activities)
                      %}
                      <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span class="text">{{ _('Dashboard') }}</span>
                        <span class="badge">{{ new_activities }}</span>
                      </a>
                    </li>
                    {% block header_account_settings_link %}
                    <li>
                      <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="text">{{ _('Profile settings') }}</span>
                      </a>
                    </li>
                    {% endblock %}
                    {% block header_usage_stats_link %}
                        <li>
                            <a href="{{ h.url_for('stats.index') }}" title="{{ _('Usage statistics') }}">
                                <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                <span class="text">{{ _('Usage statistics') }}</span>
                            </a>
                        </li>
                    {% endblock %}
                        {% if c.userobj.sysadmin %}
                        <li>
                          <a href="{{ h.url_for('admin.index') }}" title="{{ _('Sysadmin settings') }}">
                            <i class="fa fa-gavel" aria-hidden="true"></i>
                            <span class="text">{{ _('Sysadmin settings') }}</span>
                          </a>
                        </li>
                        <li>
                          <a href="{{ h.url_for('validator.index') }}" title="{{ _('Metadata Validator') }}">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span class="text">{{ _('Metadata Validator') }}</span>
                          </a>
                        </li>
                    {% endif %}
                    {#
                    This next section has been borrowed and adapted from ckanext-pages header.html template. One
                    notable difference is that we only show the pages-related nav items if the current user is allowed
                    to modify them. This means that we need to provide means for these contents to be visible elsewhere
                    like for example providing link to them via the main nav.
                    #}
                    {% if h.check_access('ckanext_pages_update') %}
                        <li>
                            <a href="{{ h.url_for('pages_index') }}" title="{{ _('Pages') }}">
                                <i class="fa fa-file icon-file" aria-hidden="true"></i>
                                <span class="text">{{ _('Pages') }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ h.url_for('pages.blog_index' if h.ckan_version().split('.')[1] | int >= 9 else 'blog_index') }}" title="{{ _('Blog') }}">
                                <i class="fa fa-pencil icon-pencil"></i>
                                <span class="text">{{ _('Blog') }}</span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ h.url_for('saved_searches.index') }}" title="{{ _('Saved Search') }}" data-testid="logout">
                                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                <span class="text">{{ _('Saved Search') }}</span>
                            </a>
                    </li>
                    {% block header_account_log_out_link %}
                        <li>
                            <a href="{{ h.url_for('user.logout') }}" title="{{ _('Log out') }}" data-testid="logout">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                <span class="text">{{ _('Log out') }}</span>
                            </a>
                        </li>
                    {% endblock %}
                </ul>


        </li>
        {% else %}
        {% block header_account_notlogged %}
        <li data-testid="nav_login">{% link_for _('LOG IN'), named_route='user.login' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('SIGN UP'), named_route='user.register', class_='sub' %}</li>
        {% endif %} {% endblock %}
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

{% endblock %}
