{% extends "page.html" %}

{% set saved_searches = h.get_saved_searches() %}
{%- block content %}
    <div class="saved-searches-container" data-module="implement_saved_search">
        <div class="saved-searches-holder">
            {% if saved_searches|length < 1 %}
                <p class="module-content empty" style="margin-top: 30px;"> Currently you don't have any saved searches </p>
            {% else %}
                {% for search in saved_searches %}
                    <div class="saved-search-card">
                        <p>{{ search[0] }}</p>
                        <p id="saved_search_query" style="display: none;">{{ search[1] }}</p>
                        <p>{{ search[2].strftime("%Y-%m-%d %H:%M:%S") }}</p>
                        <p class="saved-search-id" style="display: none;"> {{ search[3] }} </p>
                        {% if c.userobj.sysadmin %}
                            <p class="saved-search-user label label-inverse"> {{ h.get_user_name(search[4]) }} </p>
                        {% endif %}
                        <div>
                            <button class="apply-saved-search btn btn-primary"> Apply saved search </button>
                            <button class="delete-saved-search btn btn-danger" data-search_id = "{{ search[3] }}" data-module="delete_saved_search"> Delete saved search </button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
