{% ckan_extends %}

{% block content_blue_border %}
    <div class="page-header-blue-border-shadow">
      <div class="page-header-nav-tabs-parent">
        <div class="left-side-inner">
          <div class="page-header-nav-tabs">
            {% block content_primary_nav %}
            {{ h.build_nav_icon(group_type + '.read', ungettext('Metadata Record', 'Metadata Records', group_dict.package_count), id=group_dict.name, icon='sitemap') }}
            {{ h.build_nav_icon(group_type + '.activity', _('Activity Stream'), id=group_dict.name, offset=0, icon='clock-o') }}
            {{ h.build_nav_icon(group_type + '.about', _('About'), id=group_dict.name, icon='info-circle') }}
            {% endblock %}
          </div>
          <hr class="page-header-nav-tabs-hr">
        </div>
        <div class="right-side-inner">
          <div class="main-edit-button-parent">
            {% block content_action %}
                {% if h.check_access('group_update', {'id': group_dict.id}) %}
                    {% link_for _('Manage'), named_route=group_type+'.edit', id=group_dict.name, class_='btn btn-default', icon='wrench' %}
                {% endif %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block subtitle %}{{ _('About') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <div class="page-header-blue-border-shadow">
    <h1>{% block page_heading %}{{ group_dict.display_name }}{% endblock %}</h1>
    {% block organization_description %}
      {% if group_dict.description %}
        {{ h.render_markdown(group_dict.description) }}
      {% endif %}
    {% endblock %}
    {% block organization_extras %}
      {% snippet 'snippets/additional_info.html', extras = h.sorted_extras(group_dict.extras) %}
    {% endblock %}
  </div>
{% endblock %}
