{% ckan_extends %}

{% block page_primary_action %}
    {% if h.check_access('package_create', {'owner_org': group_dict.id}) %}
        {% snippet 'snippets/add_dataset.html', group=group_dict.id %}
    {% endif %}
{% endblock %}

{% block groups_search_form %}
      {% snippet 'snippets/search_form.html', form_id='organization-datasets-search-form', type='dataset', query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, placeholder=_('Search metadata records...'), show_empty=request.params, fields=fields %}
{% endblock %}
