<div class="social-main">
    <div class="social-inner">
        <a href="https://www.facebook.com/SouthAfricanNationalSpaceAgency/">
            <img class="social-img" src="/images/ic_baseline-facebook.svg"/>
        </a>
    </div>
    <div class="social-inner">
        <a href="https://za.linkedin.com/company/south-african-national-space-agency">
            <img class="social-img" src="/images/mdi_linkedin.svg"/>
        </a>
    </div>
    <div class="social-inner">
        <a href="https://www.youtube.com/@SASpaceAgency">
            <img class="social-img" src="/images/mdi_youtube.svg"/>
        </a>
    </div>
    <div class="social-inner">
        <a href="https://twitter.com/SANSA7">
            <img class="social-img" src="/images/gg_twitter.svg"/>
        </a>
    </div>
</div>