<div class="social-main">
    <div class="social-inner">
        <a href="https://www.facebook.com/SouthAfricanNationalSpaceAgency/" target="_blank">
            <img class="social-img" src="/images/ic_baseline-facebook.svg"/>
        </a>
    </div>
    <div class="social-inner">
        <a href="https://www.linkedin.com/in/south-african-national-space-agency-6a8b19a9/?originalSubdomain=za" target="_blank">
            <img class="social-img" src="/images/mdi_linkedin.svg"/>
        </a>
    </div>
    <div class="social-inner">
        <a href="https://www.youtube.com/@SASpaceAgency" target="_blank"/>
            <img class="social-img" src="/images/mdi_youtube.svg" >
        </a>
    </div>
    <div class="social-inner">
        <a href="https://twitter.com/SANSA7"  target="_blank">
            <img class="social-img" src="/images/gg_twitter.svg"/>
        </a>
    </div>
</div>