{% ckan_extends %}

{% block facet_list %}
    {% asset "ckanext-saeoss/facets-active-js" %}

    {% set hide_empty = hide_empty or false %}

    {% with items = items or h.get_facet_items_dict(name, search_facets or c.search_facets) %}
	{% if items or not hide_empty %}
		{% if within_tertiary %}
			{% set nav_class = 'nav nav-pills nav-stacked' %}
			{% set nav_item_class = ' ' %}
			{% set wrapper_class = 'nav-facet nav-facet-tertiary' %}
	    {% endif %}
	    {% block facet_list_item %}
		<section class="{{ wrapper_class or 'module module-narrow module-shallow' }}">
		    {% block facet_list_heading %}
                {% set item_id = title.replace(' ', '') %}
                {% if title not in ["Reference Date", "Licenses", "Groups", "Formats"] %}
						{% set filters = {
							'Organizations': 'fa fa-users',
							'Tags': 'fa fa-tags',
							'Harvest source': 'fa fa-cloud',
							'Featured Metadata records': 'fa fa-star',
						} %}
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="head{{ item_id }}">
						<h2 class="panel-title">
							<a class="panel-title-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ item_id }}" aria-expanded="false"
							aria-controls="{{ item_id }}" data-module="emc-filter-expand">
							<i class="{{ filters[title] }}"></i>
								{% set title = title or h.get_facet_title(name) %}
								{% if title == 'Organizations' %}
									{% set title = 'Organisations' %}
								{% endif %}
								{{ title }}
							</a>
						</h2>
					</div>
                {% endif %}
		    {% endblock %}
		    {% block facet_list_items %}
                {% set item_id = title.replace(' ', '') %}
                <div id="{{ item_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ item_id }}">
                <div class="panel-body" style="padding: 0px">
                {% with items = items or h.get_facet_items_dict(name, search_facets, 80000) %}
					{% if item_id == "FeaturedMetadatarecords" %}
							{% set items = {'See all featured records':{"name":"featured", "active":false}} %}
					{% endif %}
			{% if items %}
				<nav aria-label="{{ title }}">
				    <ul class="{{ nav_class or 'list-unstyled nav nav-simple nav-facet' }} facet-outer-{{ item_id }} facet-outer">
						{% for item in items %}
							{% if item_id == 'FeaturedMetadatarecords' %}
								{% set label = item %}
								{% set count = h.get_featured_datasets_count() %}
								{% if "featured" in request.url %}
									{% set href = h.remove_url_param("featured") %}
								{% else %}
									{% set href = h.add_url_param(new_params={"featured":"true"}) %}
								{% endif %}
								<li class="{{ nav_item_class or 'nav-item' }}{% if item.active %} active{% endif %} facet-inner-{{ item_id }}" style="display:list-item">
									<a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
										<span class="item-label">{{ label }}</span>
										<span class="hidden separator"> - </span>
										<span class="item-count badge pull-righ">{{ count }}</span>
									</a>
								</li>
							{% else %}
								{% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
								{% set label = label_function(item) if label_function else item.display_name %}
								{% set label_truncated = h.truncate(label, 22) if not label_function else label %}
								{% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}

								<li class="{{ nav_item_class or 'nav-item' }}{% if item.active %} active{% endif %} facet-inner-{{ item_id }}">
									<a href="{{ href }}" title="{{ label if label != label_truncated else '' }}" data-module="emc-facets-active">
										{% set sasdi = label if label != label_truncated else label_truncated %}
										{% set icon_name = sasdi.replace(' ', '-')|lower + '.svg' %}
										<span class="item-label">{{ label_truncated }}</span>
										<span class="hidden separator"> - </span>
										<span class="item-count badge pull-right">{{ count }}</span>
									</a>
								</li>
							{% endif %}
						{% endfor %}
				    </ul>
				</nav>
                {% if items|length > 10%}
                    <p class="module-footer show-more-button">
                        <button class="read-more" data-module="emc-facets-pagination" data-classname="facet-inner-{{ item_id }}">{{ _('Show More {facet_type}').format(facet_type=title) }}</button>
                    </p>
                {% endif %}
			    {% else %}
					<p class="module-content empty">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>
			    {% endif %}
			{% endwith %}
		    {% endblock %}
        </div>
        </div>
		</section>
	    {% endblock %}
	{% endif %}
    {% endwith %}
{% endblock %}
