{% ckan_extends %}

{% block nums %}
    <div class="row follower">
        <div class="nums">
          <dl>
            <p>
                <span data-module="followers-counter" data-module-id="{{ organization.id }}" data-module-num_followers="{{ organization.num_followers }}">{{ h.SI_number_span(organization.num_followers) }}</span>
              {{ ungettext('Follower', 'Followers', organization.num_followers) }}
            </p>
          </dl>

          <dl>
            <p>
            <span data-module="followers-counter">{{ h.SI_number_span(organization.package_count) }}</span>
                {{ ungettext('Metadata Record', 'Metadata Records', organization.package_count) }}
              </p>
          </dl>
        </div>
{% endblock %}
{% block follow %}
        <div class="follow_button pull-right">
          {{ h.follow_button('group', organization.id) }}
        </div>
        {% endblock %}
</div>
