{% ckan_extends %}

{% block package_item %}
    {# this is a dcpr request #}
    
      {% set column_class = column_class or 'col-md-6' %}

      <div class="{{column_class}} col-sm-12 col-xs-12">
        {% block content %}
          {% set date_string = package['metadata_modified']|string %}
          {% set date = date_string.split('T')[0] %}

          <div class="dataset-card">
            {% block heading_private %}
              {% if package.private %}
                <span class="dataset-private label label-inverse">
                    <i class="fa fa-lock"></i>
                    {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}
            <h3>🛰️ {{title}}</h3>
              {% block notes %}
              {% if notes %}
                <div class="dataset-card-p ">{{ notes|urlize|truncate(80,True,'...',0) }}</div>
              {% else %}
                <p class="dataset-card-p ">{{ _("This metadata record has no description") }}</p>
              {% endif %}
            {% endblock %}
            <p class="dataset-card-p" style="font-size: 12px; color: #666;">Updated: {{ date }}</p>
            <div class="tags">
              {% set max_tags = 3 %}
              {% for tag in package.tags[:max_tags] %}
                <span class="tag">{{ tag.name|urlize|truncate(50,True,'...',0) }}</span>
              {% endfor %}
              {% if package.tags|length > max_tags %}
                <span class="tag">…</span>
              {% endif %}
            </div>
            <div class="btn-view-parent">
              <div class="btn-view">
                {{ h.link_to(h.truncate('View Details'), h.url_for('%s.read' % package.type, id=package.name)) }}
              </div>
            </div>
            
          </div>

        {% endblock %}
        </div>
  
{% endblock %}
