{% ckan_extends %}

{% block package_item %}
    {# this is a dcpr request #}
    
      <li class="{{ item_class or "dataset-item" }}">
        {% block content %}
          {% set date_string = package['metadata_modified']|string %}
          {% set date = date_string.split('T')[0] %}
          <div class="row dataset-row">
            <div class="col-sm-4 metadata-record-thumbnail">
                <img src="{{ h.get_datasets_thumbnail(package) }}" alt="" title="{{ title }}">
            </div>
            <div class="col-sm-8 metadata-record-desc">
              <div class="dataset-content">
                {% block heading %}
                  <h2 class="dataset-heading">
                    {% block heading_title %}
                      <div data-testid="search_item_anchor"></div>
                      {{ h.link_to(h.truncate(title, truncate_title), h.url_for('%s.read' % package.type, id=package.name)) }}
                    {% endblock %}
                    {% block heading_private %}
                      {% if package.private %}
                        <span class="dataset-private label label-inverse">
                            <i class="fa fa-lock"></i>
                            {{ _('Private') }}
                        </span>
                      {% endif %}
                    {% endblock %}
                    {% block heading_meta %}
                      {% if package.get('state', '').startswith('draft') %}
                        <span class="label label-info">{{ _('Draft') }}</span>
                      {% elif package.get('state', '').startswith('deleted') %}
                        <span class="label label-danger">{{ _('Deleted') }}</span>
                      {% endif %}
                      {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
                    {% endblock %}
                  </h2>
                {% endblock %}
                {% block banner %}
                  {% if banner %}
                    <span class="banner">{{ _('Popular') }}</span>
                  {% endif %}
                {% endblock %}
                {% block notes %}
                  {% if notes %}
                    <div class="dataset-desc">{{ notes|urlize|truncate(80,True,'...',0) }}</div>
                  {% else %}
                    <p class="empty">{{ _("This metadata record has no description") }}</p>
                  {% endif %}
                {% endblock %}
              </div>
              {% block resources %}
              {% endblock %}
              <div class="row datasets-date-actions">
                  <div class="dataset-action pull-right" style="display: none">
                      <a class="dataset-action-items" href="{{ h.url_for('%s.read' % package.type, id=package.name)}}"><i class="fa fa-bars"></i>
                          Metadata
                      </a>
                      <a class="dataset-action-items"><i class="fa fa-eye"></i>
                          Preview
                      </a>
                      <a class="dataset-action-items"><i class="fa fa-download"></i>
                          Download
                      </a>
                  </div>
              </div>
            </div>
            <div class="datasets-date">
              Metadata Record Updated {{ date }}
            </div>
          </div>
        {% endblock %}
      </li>
  
{% endblock %}
